body {
	scroll:hidden;
}

#app {
	z-index: 0;
	position: relative;
}


#giant_overlay {
	z-index: 100;
	position: relative;
}

#controls {
	z-index: 50;
	position: relative;
	width: 600px;
	height: 50px;
	float: left;
	background-color: rgba(230, 255, 250, 1);
}

#universe {
	z-index: 20;
	position: relative;
	float: left;
	width: 620px;
	height: 420px;
	overflow-y: scroll;
	overflow-x: hidden;
	
	background-color: rgba(50, 255, 90, 1);
}

#universe_canvas {
	z-index: 21;
	position: absolute;
	width: 600px;
	height: 400px;
	background-color: rgba(50, 255, 90, 1);
}

#star_overlay_holder {
	z-index: 22;
	position: absolute;
	width: 600px;
	height: 400px;
	overflow: hidden;
	pointer-events: none;
}

.star_overlay {
	z-index: 23;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 90px;
	border: 2px solid rgba(255, 255, 255, 1);
	background-color: rgba(150, 190, 250, .4);
}

#debug_controls {
	z-index: 40;
	position: relative;
	background-color: rgba(155, 155, 155, 1);
	width: 300px;
	height: 400px;
	float: left;
	margin: 2px;
}

#debug_output {
	z-index: 42;
	position: relative;
	background-color: rgba(155, 255, 155, 1);
	width: 98%;
	height: 250px;
	float: left;
	padding: 10px;
	margin: 2px;
	overflow: auto;
}

#touch_output {
	z-index: 42;
	position: relative;
	background-color: rgba(155, 255, 155, 1);
	width: 98%;
	height: 200px;
	float: left;
	padding: 10px;
	margin: 2px;
	overflow: auto;
}

.ui_box {
	background-color: rgba(225, 235, 255, .8);
	border-radius: 10px;
	border: 2px solid rgba(255,255, 255, 1);
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.option_checkbox_holder {
	float: right;
	font-size: 70%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.palette {
	z-index: 56;
	position: static;
	padding: 5px;
	width: 200px;
	height: 25px;
	transition: all 0.22s;
	overflow: hidden;
}
.palette:hover {

	height: 300px;
}

.palette_button {
	float: left;
	width: 80px;
	margin: 2px;
	height: 20px;
	background-color: rgba(100, 105, 110, .6);
	border-radius: 10px;
	border: 2px solid rgba(255,255, 255, 1);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.palette_button:hover {
	background-color: rgba(160, 170, 190, 1);
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.nav_slider {
	display: inline-block;
	width: 8px;
	height: 100px;
	background-color: rgba(160, 170, 250, 1);
}

#nav_controls {
	top: 10px;
	width: 30px;
	height: 140px;
	right: 5px;
	position: absolute;
	z-index: 25;
}

.nav_button {
	font-size: 70%;
	font: 7px arial, sans-serif, caption;
}

#options_panel {

	z-index: 56;
	left: 590px;
	top: -310px;
	position: absolute;
	padding: 5px;
	width: 160px;
	height: 300px;
	transition: all 0.22s;
	overflow: hidden;
}

#options_panel:hover {
	top: -10px;
}

.popup {
	z-index: 31;
	position: absolute;
	padding: 5px;
	width: 25px;
	height: 200px;
	top: 0px;
	left: 0px;
	background-color: rgba(225, 235, 255, .6);
	border-radius: 10px;
	transition: all 0.22s;
	overflow: hidden;
	border: 2px solid rgba(255,255, 255, 1);
}

.popup_button {
	float: left;
	width: 80px;
	margin: 2px;
	height: 20px;
	background-color: rgba(100, 105, 110, .6);
	border-radius: 10px;
	border: 2px solid rgba(255,255, 255, 1);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.popup_button:hover {
	background-color: rgba(160, 170, 190, 1);
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.closeButton {
	z-index: 60;
	position: absolute;
	padding: 1px;
	top: 0px;
	left: 0px;
	background-color: rgba(225, 50, 50, .6);
	border-radius: 5px;
	transition: all 0.22s;
	overflow: hidden;
	border: 2px solid rgba(155,25, 25, 1);
}

.closeButton:hover {
	background-color: rgba(255, 10, 10, 1);
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
