body {

}

#controls {
	width: 600px;
	height: 50px;
	float: left;
	background-color: rgba(230, 255, 250, 1);
}

#universe_canvas {
	float: left;
	width: 600px;
	height: 400px;
	background-color: rgba(50, 255, 90, 1);
}

#universe_canvas {
	width: 600px;
	height: 400px;
	background-color: rgba(50, 255, 90, 1);
}

#debug_output {
	background-color: rgba(155, 155, 155, 1);
	width: 300px;
	height: 400px;
	float: left;
	padding: 10px;
	margin: 2px;
	overflow: auto;
}
